.dh-komunitas {
  &__card {
    padding: 0 2rem;
  }
  &__card-content {
    box-sizing: border-box;
    background: $color-white;
    padding: 0.5rem 0;
    height: 430px;
    @include box-shadow;
    .card-heading {
      padding: 1rem 2rem;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        font-family: 'Geomanist-Bold', sans-serif;
        letter-spacing: 1px;
        margin: 0;
        font-size: 1.5rem;
      }
    }
    .card-content-wrapper {
      padding: 0 2rem;
      .card-content {
        color: $color-black-accent-3;
        display: flex;
        padding: 1.5rem 0;
        border-bottom: 1px solid $color-pink-accent-4;
        .bubble {
          margin-right: 1rem;
          img {
            width: 25px;
          }
        }
        .content {
          h4 {
            margin: 0;
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
          }
          span {
            &.author {
              color: $color-pink-accent-1;
              font-size: 0.9em;
              font-weight: 700;
            }
            &.date {
              font-size: 0.9em;
            }
          }
        }
      }
    }
    .button-more {
      text-align: center;
      margin: 2rem 0;
      button {
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
      }
    }
  }
}

.dh-hijabertv {
  &__card {
    padding: 0 2rem;
  }
  &__card-content {
    box-sizing: border-box;
    background: $color-white;
    padding: 0.5rem 0;
    @include box-shadow;
    height: 430px;
    .card-heading {
      padding: 1rem 2rem;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        font-family: 'Geomanist-Bold', sans-serif;
        letter-spacing: 1px;
        margin: 0;
        font-size: 1.5rem;
      }
    }
    .card-content-wrapper {
      .card-content {
        color: $color-black-accent-3;
        padding: 1rem 2rem;
        h4 {
          margin: 0;
          font-size: 1.6rem;
          margin-bottom: 0.5rem;
        }
        span {
          &.date {
            font-size: 0.9em;
          }
        }
      }
    }
    .button-more {
      text-align: center;
      margin: 2rem 0;
      button {
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
      }
    }
  }
}

.dh-quote {
  &__card {
    padding: 0 2rem;
  }
  &__card-content {
    box-sizing: border-box;
    background: $color-white;
    padding: 0.5rem 0;
    @include box-shadow;
    height: 430px;
    .card-heading {
      padding: 1rem 2rem;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        font-family: 'Geomanist-Bold', sans-serif;
        letter-spacing: 1px;
        margin: 0;
        font-size: 1.5rem;
      }
    }
    .card-content-wrapper {
      .card-content {
        position: relative;
        color: $color-black-accent-3;
        background: rgba(252, 229, 238, 0.2);
        padding: 8rem 2rem 7rem 2rem;
        .quote-text-wrapper {
          text-align: center;
          position: relative;
          .quote-icon {
            position: absolute;
            left: -1rem;
            top: -7rem;
            img {
              width: 70px;
            }
          }
          .quote-author {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            top: 10rem;
            left: 30%;
            img {
              margin-bottom: 1rem;
            }
            h5 {
              font-weight: 700;
              color: black;
              margin: 0;
              margin-bottom: 0.5rem;
            }
          }
          h4 {
            margin: 0;
            font-size: 1.6rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
    .button-more {
      position: absolute;
      bottom: 0;
      left: 30%;
      text-align: center;
      margin: 2rem 0;
      button {
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
      }
    }
  }
}