.dh-dashboard {
  &__publicprofile {
    background: $color-white;
    padding: 5rem;
    @include box-shadow;
    .btn-more {
      text-align: center;
      .btn-normal {
        @include small-outline-btn;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    }
  }
}

.dh-dashboard {
  &__profiledetail {
    .profiledetail-content {
      text-align: center;
      .profile-image {
        margin-bottom: 2.5rem;
        img {
          width: 100px;
          margin-bottom: 2rem;
        }
        span {
          display: block;
          color: $color-sidenav-profile-item;
          font-weight: 700;
        }
        h4 {
          margin: 0;
          font-size: 2.5rem;
          font-weight: 700;
        }
      }
      .profile-stats {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $color-pink-gradient-accent-primary-to;
        padding: 1rem 2rem;
        margin-bottom: 3rem;
        .stats-item {
          width: 33%;
          text-align: center;
          span {
            display: block;
            &.count {
              font-size: 2.5rem;
              font-weight: 700;
            }
            &.type {
              font-size: 1.2rem;
            }
          }
        }
      }
      .profile-action-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3em;
        .action-item {
          width: 50%;
          .btn-action {
            text-align: center;
            .btn-normal {
              @include small-outline-btn;
              text-transform: uppercase;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    .profiledetail-description {
      margin-top: 3rem;
      h4 {
        font-size: 2rem;
        text-transform: uppercase;
        margin: 0;
        font-weight: 300;
        letter-spacing: 2px;
        margin-bottom: 2rem;
      }
      .description {
        line-height: 2;
        span {
          display: inline-block;
          width: 80px;
          font-weight: 700;
        }
        label {
          color: $color-pink-accent-2;
          font-weight: normal;
        }
      }
    } 
    .profiledetail-post {
      margin-top: 3rem;
      h4 {
        font-size: 2rem;
        text-transform: uppercase;
        margin: 0;
        font-weight: 300;
        letter-spacing: 2px;
        margin-bottom: 1rem;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: block;
          padding: 1rem;
          border-bottom: 1px solid $color-pink-accent-4;
          text-decoration: none;
          text-align: left;
          .post-content {
            padding: 1rem 0;
            .post-item {
              display: flex;
            }
            .item {
              img {
                &.author { 
                  @include border-radius(50%);
                  margin-right: 3rem;
                  width: 60px;
                }
                &.image-post {
                  width: 200px;
                  margin-bottom: 1rem;
                }
              }
              p {
                margin: 0;
                margin-bottom: 0.8rem;
              }
              span {
                &.username {
                  display: block;
                  color: $color-sidenav-profile-item;
                  font-size: 1.2rem;
                  font-weight: 700;
                  margin-bottom: 0.5rem;
                  span {
                    color: $color-sidenav-primary;
                  }
                }
                &.comment {
                  color: $color-sidenav-profile-item;
                  font-size: 1.2rem;
                  font-weight: 700;
                  margin-right: 1.5rem;
                }
                &.like {
                  color: $color-sidenav-profile-item;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
}