// Primary and Accent Color
$color-pink-primary: #f73f80;
$color-pink-accent-1: #f681ac;
$color-pink-accent-2: #f996b8;
$color-pink-accent-3: #fca7a3;
$color-pink-accent-4: #fde5ee;
$color-pink-accent-5: #F8AEC7;
$color-black-primary: #000000;
$color-black-accent-1: #333333;
$color-black-accent-2: #666666;
$color-black-accent-3: #999999;
$color-black-accent-4: #cccccc;
$color-white: #ffffff;
$color-default-placeholder: #555555;

// Pink Gradient Button Color
$color-pink-gradient-primary-from: #c55495;
$color-pink-gradient-primary-to: #f93e7f;

// Pink Accent Gradient Button Color
$color-pink-gradient-accent-primary-from: #ffffff;
$color-pink-gradient-accent-primary-to: #fdd5e3;
$color-pink-additional: #fcadc3;

// Side Navigation Color
$color-sidenav-primary: #AFAFAF;
$color-sidenav-profile-primary: #FDD5E3;
$color-sidenav-profile-item: #F388AC;

// Badge Custom Color
$color-badge-notification: #F0A663;
$color-badge-message: #8DD5FD;